/* CSS Game */
body {
  background: url("./imgs/NoqcEgG.jpeg") no-repeat;
  background-size: cover;
}
#gameboard {
  background:rgba(124, 123, 123, 0.247);
	width:900px;
	height:550px;
	padding:5px 20px;
	margin:0px auto;
  box-shadow: inset 0px 0px 20px -6px rgb(99, 157, 194);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}
h1{
  text-align: center; 
  color:whitesmoke;
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
  text-shadow:
		-1px 2px rgb(99, 157, 194),
		1px 2px 0 black; 
}
h4{
  font-family: 'Game of Thrones';
  text-align: center;
  color:whitesmoke;
  margin-top: 10px;
  text-shadow:
		-.5px .5px 0 rgb(99, 157, 194),
		.5px .5px 0 black; 
}

#gameboard div{
  width: 120px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  width: 12vw;
  align-content: center;
  flex-direction: row;
  font-family: 'Cinzel Decorative';
  font-size:12px;
  padding-left: 35vw;
  padding-top:10px;
}
.btn{
  background-color: #9498a1;
  border-color: #9498a1;
  color: black;
}
img {
vertical-align: middle;
width: 115px;
height: 105px;
border: 3px solid #7d89a5;
margin-top:10px;
}
embed{
  visibility: hidden;
}
/* CSS Starter Page */
.start-page{
    background: url("./imgs/backgroundmap.webp") no-repeat;
    background-size: cover;
    height: 100vh;
}
.first-title{
  text-align: center; 
  color:black;
  margin-top:100px;
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
  font-size:xx-large;
  text-shadow:
		-1px 2px #7d89a5,
		1px 2px 0 #e3b130; 
}
.btn-display{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  height: 50vh;
  align-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel Decorative';
  font-size:15px;
  color: black;
}
.btn-display > div {
  width: 95vw;
}
.navi-btns{
  background-color: #e3b130;
  border-color: #e3b130;
  color: black;
}
#cersei{
  display: flex;
  font-family: 'Cinzel Decorative';
  justify-content: center;
  color: black;
  margin-top:50px;
  text-align:center;
  margin-left: 270px;
  margin-right:270px;
  border-radius: 10px;
  background-color:  #e3b030b4;
  text-shadow:	-.3px .3px 0 #8a8885a9;
  padding:10px;
}
#instructions{
  display: flex;
  font-family: 'Cinzel Decorative';
  font-weight: 300;
  justify-content: center;
  color: black;
  text-align:center;
  margin-left: 130px;
  margin-right:110px;
  border-radius: 10px;
  padding:5px;
  /* background-color:#8a8885a9; */
  background-color:#8a8885a9;
  text-shadow:	-.3px .3px 0 #e3b130;
}