body {
  background: url("./imgs/GOT\ MAP.png") no-repeat;
  background-size: cover;
}
#gameboard {
  background:rgba(160, 158, 158, 0.308);
	width:150vh;
	height:75vh;
	padding:5px 70px;
	margin:0px auto;
  box-shadow: inset 0px 0px 20px -6px  #d4af37;
}
h1{
  text-align: center; 
  color:whitesmoke;
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
  text-shadow:
		-1px 2px 0 #d4af37,
		1px 2px 0 black; 
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#gameboard div{
  width: 120px;
  height: 100px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background-image: url(./imgs/GOTtitle.gif);
  background-size: contain;
  border: 2px solid #d4af37;
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  width: 12vw;
  align-content: center;
  flex-direction: row;
  font-family: 'Cinzel Decorative';
  font-size:12px;
  padding-left: 30vw;
}
.btn{
  background-color: #d4af37;
  border-color: #d4af37;
  color: black;
}
img {
vertical-align: middle;
width: 118px;
height: 98px;
}
embed{
  visibility: hidden;
}


/*html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

}
 body{
  background-image: url("./imgs/GOTtitle.gif");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  background-position: center;
} */
