body {
  background: url("./imgs/GOT\ MAP.png") no-repeat;
  background-size: cover;
}
#gameboard {
  background:rgba(160, 158, 158, 0.308);
	width:150vh;
	height:75vh;
	padding:5px 70px;
	margin:0px auto;
  box-shadow: inset 0px 0px 20px -6px  #d4af37;
}
h1{
  text-align: center; 
  color:whitesmoke;
  font-family: 'Game of Thrones';
  font-weight: normal;
  font-style: normal;
  text-shadow:
		-1px 2px 0 #d4af37,
		1px 2px 0 #d4af37; 
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#gameboard div{
  width: 10vw;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  width: 12vw;
  align-content: center;
  flex-direction: row;
  font-family: 'Cinzel Decorative';
  font-size:12px;
  padding-left: 350px;
}
.btn{
  background-color: #d4af37;
  border-color: #d4af37;
}

/*html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background:#dddddd;
	width:800px;
	height:540px;
	padding:70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
}


.card .back {
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  padding: 20px;
  padding-top: 0;
  margin-left: 75%;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
 body{
  background-image: url("./imgs/GOTtitle.gif");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  background-position: center;
} */
